 body {
    background: url("../images/white-waves.png");
} 

 .container {
        background-color: #ffffff;
        border-color: #aaaaaa;
        padding: 1.5rem;
        margin-top: 15px;
 }

 #portPad {
    padding: 1.5rem 0 0 0;
 }

#name {
    background-color: #2a623d;
    color: 	#eeeeee;
    border: 0px solid #cccccc;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    }

    #round {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

 h1, h2, h5, h6{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #5d5d5d;
}

 p, label {
    color: #5d5d5d;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 17px;
}

h1 {
    color: #2a623d;
    padding: 0;
    margin: 0;
}

#portH1 {
    /* margin: 7px; */
    padding: 10px 0 10px 20px;
}

hr {
    display: outset;
    position: relative;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: .5px groove #dddddd;
    border-bottom: 1px groove #dddddd;
 }

 #navbar {
    background-color: #ffffff;
    border-color: #cccccc;
 }
 
 a {
    color: 	#eeeeee;
}

 a:hover{
    color: #2a623d;
    background-color: #aaaaaa;
}

 .navbar-brand
{
    margin: 0;
}

@media (max-width: 768px){

    .workingTogImg {
        max-width: 60%;
    }
    .minH {
        min-height: 50px;
    }
}

@media (max-width: 640px) { 

#name{
    width: 100%;
    text-align: center;
}
#navbar {
    justify-content:  center; 
    background-color: #2a623d;
}
.workingTogImg {
    max-width: 50%;
}
.minH {
    min-height: 50px;
}
}

.page-footer {
    text-align: center;
    background-color: #5d5d5d;
    border-top: 8px solid #2a623d;
}

.projects {
    padding: 15px;
}

.btn {
    background-color: #2a623d;
    color: white;
    border: none;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn:hover{
    background-color: #699177;

}

.mb-3 {
    float: left;
    margin: 1rem;
    border-color: #0b0c01;
}

#pwH1 {
    background-color: white;
}

.nav-link {
    background-color: #2a623d;
}

#footerText {
    color: 	#eeeeee;
    margin-bottom: 0;
}

.workTogether {
    background-color: #2a623d;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
.workingTogImg {
    border-radius: 1rem;
}

.dkColor{
    color: #0b0c01;
    text-decoration: underline;
    list-style-type: none;
}

ul {
    list-style-type: none;
  }

  /* #cRange{
    /* -webkit-appearance: none; */
    /* background: green; */
    /* height: 24px; */
  /* } */ */
